.radmin-login-page .radmin-login {
  display: flex;
  justify-content: center;
  width: var(--size-15);
  margin: var(--size-9) auto;
}

.radmin-login .radmin-login-container {
  width: 100%;
}

.radmin-login [type=submit] {
  margin-top: var(--size-3);
}

.radmin-login .radmin-login-footer {
  margin-top: var(--size-3);
  text-align: center;
}