.radmin-layout {
  color: var(--color-primary);
  background-color: var(--color-bg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;

  display: flex;
  min-height: 100vh;
  font-size: var(--font-size-0);
}

.radmin-layout > nav {
  --_link-bg: var(--color-bg-menu);
  --_link-text: var(--color-menu-text);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--font-size-1);
  flex-basis: var(--size-fluid-8);
  flex-grow: 0;
  flex-shrink: 0;
  padding: var(--size-3);
  background-color: var(--color-bg-menu);
  margin-right: var(--size-5);
}

.radmin-layout > nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.radmin-layout > nav li a, .radmin-layout > nav .radmin-button {
  display: block;
  background-color: var(--_link-bg);
  color: var(--_link-text);
  padding: var(--size-3);
  margin-bottom: var(--size-2);
  border-radius: var(--radius-2);
  text-decoration: none;
  outline-offset: 3px;
  transition:
    background-color .2s var(--ease-3),
    color .2s var(--ease-3);
}

.radmin-layout > nav li a:is(.current, :hover),
.radmin-layout > nav .radmin-button:is(.current, :hover) {
  --_link-bg: var(--color-menu-highlight);
  --_link-text: var(--color-menu-text-highlight);
}

.radmin-layout > main {
  width: 100%;
  margin-right: var(--size-5);
  margin-bottom: var(--size-5);
}

.radmin-layout a {
  color: var(--color-highlight);
}
