.radmin-signup-page .radmin-signup {
  display: flex;
  justify-content: center;
  width: var(--size-15);
  margin: var(--size-9) auto;
}

.radmin-signup .radmin-signup-container {
  width: 100%;
}

.radmin-signup [type=submit] {
  margin-top: var(--size-3);
}

.radmin-signup .radmin-signup-footer {
  margin-top: var(--size-3);
  text-align: center;
}