.radmin-search-widget {
  width: 100%;
}

.radmin-search-widget .radmin-search-input-row {
  display: flex;
  padding-block: var(--size-2);
}

.radmin-search-widget .radmin-input {
  margin-block-start: 0;
}

.radmin-search-widget .radmin-button {
  margin-inline-start: var(--size-2);
}
