import { Link, routes } from '@redwoodjs/router'

import { useAuth } from 'src/auth'

const ArwdminArwdminPage = () => {
  const { isAuthenticated } = useAuth()

  return (
    <div className="arwdmin-page">
      <h1><%= appName %></h1>
      {!isAuthenticated && (
        <>
          <Link to={routes.arwdminLogin()}>Log in</Link>
          <Link to={routes.arwdminSignup()}>Sign up</Link>
        </>
      )}
    </div>
  )
}

export default ArwdminArwdminPage
