import { useEffect, useRef } from 'react'

import {
  Form,
  Label,
  TextField,
  PasswordField,
  FieldError,
  Submit,
} from '@redwoodjs/forms'
import { Link, navigate, routes } from '@redwoodjs/router'
import { MetaTags } from '@redwoodjs/web'
import { toast, Toaster } from '@redwoodjs/web/toast'

import { useAuth } from 'src/auth'

import './ArwdminSignupPage.css'

const ArwdminSignupPage = () => {
  const { isAuthenticated, signUp } = useAuth()

  useEffect(() => {
    if (isAuthenticated) {
      navigate(routes.arwdmin())
    }
  }, [isAuthenticated])

  // focus on email box on page load
  const emailRef = useRef<HTMLInputElement>(null)
  useEffect(() => {
    emailRef.current?.focus()
  }, [])

  const onSubmit = async (data: Record<string, string>) => {
    const response = await signUp({ username: data.email, password: data.password })

    if (response.message) {
      toast(response.message)
    } else if (response.error) {
      toast.error(response.error)
    } else {
      // user is signed in automatically
      toast.success('Welcome!')
    }
  }

  return (
    <div className="arwdmin-signup-page">
      <MetaTags title="Signup" />
      <Toaster toastOptions={{ className: 'rw-toast', duration: 6000 }} />

      <main className="arwdmin-signup">
        <div className="arwdmin-signup-container">
          <div>
            <header>
              <h2>Signup</h2>
            </header>

            <div>
              <div>
                <Form onSubmit={onSubmit} className="rw-form-wrapper">
                  <Label
                    name="email"
                    className="arwdmin-label"
                    errorClassName="arwdmin-label rw-label-error"
                  >
                    Email
                  </Label>
                  <TextField
                    name="email"
                    className="arwdmin-input"
                    errorClassName="arwdmin-input rw-input-error"
                    ref={emailRef}
                    validation={{
                      required: {
                        value: true,
                        message: 'Email is required',
                      },
                    }}
                  />
                  <FieldError name="email" className="rw-field-error" />

                  <Label
                    name="password"
                    className="arwdmin-label"
                    errorClassName="arwdmin-label rw-label-error"
                  >
                    Password
                  </Label>
                  <PasswordField
                    name="password"
                    className="arwdmin-input"
                    errorClassName="arwdmin-input rw-input-error"
                    autoComplete="current-password"
                    validation={{
                      required: {
                        value: true,
                        message: 'Password is required',
                      },
                    }}
                  />
                  <FieldError name="password" className="rw-field-error" />

                  <Submit className="arwdmin-button">Sign Up</Submit>
                </Form>
              </div>
            </div>
          </div>
          <div className="arwdmin-signup-footer">
            <span>Already have an account?</span>{' '}
            <Link to={routes.arwdminLogin()}>
              Log in!
            </Link>
          </div>
        </div>
      </main>
    </div>
  )
}

export default ArwdminSignupPage
