import { NavLink, routes } from '@redwoodjs/router'

import './ArwdminLayout.css'

const ArwdminLayout = ({ children }) => {
  return (
    <div className="arwdmin-layout">
      <nav>
        <ul>
          <% for (let nameVariants of models) { -%>
            <li>
              <NavLink
                to={routes.arwdmin<%= nameVariants.pascalPluralName %>()}
                activeClassName="current"
              >
                <%= nameVariants.humanizedPlural %>
              </NavLink>
            </li>
          <% } %>
        </ul>
      </nav>
      <main>{children}</main>
    </div>
  )
}

export default ArwdminLayout