import { NavLink, routes } from '@redwoodjs/router'

import { useAuth } from 'src/auth'

import './ArwdminLayout.css'

const ArwdminLayout = ({ children }) => {
  const { logOut, isAuthenticated } = useAuth()

  return (
    <div className="arwdmin-layout">
      {isAuthenticated && (<nav>
        <ul>
          <% for (let nameVariants of models) { -%>
            <li>
              <NavLink
                to={routes.arwdmin<%= nameVariants.pascalPluralName %>()}
                activeClassName="current"
                matchSubPaths
              >
                <%= nameVariants.humanizedPlural %>
              </NavLink>
            </li>
          <% } %>
        </ul>
        <button
          onClick={logOut}
          className="arwdmin-button"
        >
          Log out
        </button>
      </nav>)}
      <main>{children}</main>
    </div>
  )
}

export default ArwdminLayout