import { Link, routes } from '@redwoodjs/router'

import { useAuth } from 'src/auth'

import './RadminPage.css'

const RadminRadminPage = () => {
  const { isAuthenticated } = useAuth()

  return (
    <div className="radmin-page">
      <h1><%= appName %></h1>
      {!isAuthenticated && (
        <>
          <Link to={routes.radminLogin()}>Log in</Link>
          <Link to={routes.radminSignup()}>Sign up</Link>
        </>
      )}
    </div>
  )
}

export default RadminRadminPage
