import { Form, TextField, Submit, Label } from '@redwoodjs/forms'
import { useParams, navigate } from '@redwoodjs/router'

import './SearchWidget.css'

interface FormData {
  search: string
}

interface Props {
  searchField: string
  routesFn: (args: unknown) => string
}

const SearchWidget: React.FC<Props> = ({ searchField, routesFn }) => {
  const params = useParams()

  const onSubmit = (data: FormData) => {
    // Go back to first page for new searches
    delete params.page
    navigate(routesFn({ ...params, q: data.search}))
  }

  return (
    <div className="arwdmin-search-widget">
      <Form<FormData> onSubmit={onSubmit}>
        <Label name="search">Search for {searchField}</Label>
        <div className="arwdmin-search-input-row">
          <TextField
            name="search"
            className="arwdmin-input"
            defaultValue={params.q}
          />
          <Submit className="arwdmin-button">Search</Submit>
        </div>
      </Form>
    </div>
  )
}

export default SearchWidget
